@use "../../../styles/globals";

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    &__left {
        align-items: center;
        &__header {
            user-select: none;
            span {
                color: globals.$primary-500;
            }
            margin-right: 20px;
            @media (max-width: globals.$breakpointW-DesktopXL) or (max-height: globals.$breakpointH-DesktopXL) {
                font-size: 28px;
                line-height: 32px;
            }
        }
        &__actions {
            padding: 0;
            margin-top: 4px;
            &-selected {
                border-bottom: 2px solid globals.$primary-500;
            }
            @media (max-width: globals.$breakpointW-Tablet) or (max-height: globals.$breakpointH-Desktop) {
                display: none;
            }
        }
        &__item {
            display: flex;
            margin: 4px 8px 0 8px;
            cursor: pointer;
            p {
                margin-left: 10px;
                color: globals.$primary-500;
            }
            svg {
                stroke: globals.$primary-500;
            }
        }
    }
    &__right {
        align-items: center;
        // * If Logged in
        ul {
            .dynamicButton {
                margin-right: 28px;
                @media (max-width: globals.$breakpointW-Tablet) or (max-height: globals.$breakpointH-Desktop) {
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                cursor: pointer;
                svg {
                    stroke: globals.$primary-500;
                }
                &.clicked {
                    svg {
                        fill: globals.$primary-500;
                    }
                }
            }
        }
        &__profilebutton {
            align-items: center;
            border: none;
            background: none;
            cursor: pointer;
            p {
                margin: 0 8px;
                user-select: none;
            }
            @media (max-width: globals.$breakpointW-Tablet) or (max-height: globals.$breakpointH-Desktop) {
                display: none;
            }
        }
        // * If Logged out
        .button {
            &:first-child {
                margin-right: 12px;
            }
            p {
                @media (max-width: globals.$breakpointW-Tablet) or (max-height: globals.$breakpointH-Desktop) {
                    display: none;
                }
            }
        }
    }
}

.dropdown {
    position: absolute;
    z-index: 5;
    width: 329px;
    right: 32px;
    box-sizing: border-box;
    @media (min-width: globals.$breakpointW-DesktopXL) or (min-height: globals.$breakpointH-DesktopXL) {
        top: 72px;
        width: 329px;
    }
    @media (max-width: globals.$breakpointW-DesktopXL) or (max-height: globals.$breakpointH-DesktopXL) {
        top: 72px;
        width: 260px;
    }
    background-color: globals.$white;
    flex-direction: column;
    padding: 16px 20px;
    border: 2px solid globals.$primary-300;
    border-radius: 10px;
    > *:not(:last-child) {
        margin-bottom: 8px;
    }
    &__item {
        border: none;
        background: none;
        p {
            color: globals.$primary-500;
            margin-left: 10px;
        }
        svg {
            color: globals.$primary-500;
        }
    }
}

.post {
    position: relative;
    &__body {
        width: 100%;
        @include globals.section;
        flex-direction: column;
    }
    &__loading {
        width: 100%;
        justify-content: center;
        align-items: center;
        > :first-child {
            margin: 20px 0px;
        }
    }
    &__header {
        justify-content: space-between;
        align-items: center;
        button {
            svg {
                color: globals.$primary-300;
            }
        }
    }
    &__info {
        &__text {
            flex-direction: column;
            margin-left: 24px;
            .caption {
                color: globals.$neutral-400;
            }
        }
        &__user {
            align-items: flex-end;
            .caption {
                margin-left: 4px;
                color: globals.$primary-300;
            }
        }
    }
    &__morebutton {
        svg {
            color: globals.$primary-300;
        }
    }
    &__content {
        flex-direction: column;
        &__text {
            word-break: break-all;
            margin: 12px 0;
        }
        &__image {
            width: 100%;
            justify-content: center;
            margin: 16px 0px;
            img {
                width: 50%;
                border: solid 2px globals.$primary-300;
                border-radius: 10px;
            }
        }
        .input {
            margin: 16px 0px;
        }
        button {
            margin-bottom: 16px;
        }
    }
    &__actions {
        justify-content: space-between;
        &__left {
            > :first-child {
                margin-right: 16px;
            }
        }
    }
    &__dropdown {
        position: absolute;
        right: 0;
        top: 56px;
        box-sizing: border-box;
        background-color: globals.$white;
        flex-direction: column;
        padding: 16px 20px;
        border: 2px solid globals.$primary-300;
        border-radius: 10px;
        z-index: 2;
        > *:not(:last-child) {
            margin-bottom: 8px;
        }
        @media (min-width: globals.$breakpointW-DesktopXL) or (min-height: globals.$breakpointH-DesktopXL) {
            width: 329px;
        }
        @media (max-width: globals.$breakpointW-DesktopXL) or (max-height: globals.$breakpointH-DesktopXL) {
            width: 260px;
        }
        button {
            border: none;
            background: none;
            p {
                color: globals.$primary-500;
                margin-left: 10px;
            }
            svg {
                color: globals.$primary-500;
            }
        }
        &__delete {
            p {
                color: globals.$red-500 !important;
            }
            svg {
                color: globals.$red-500 !important;
            }
        }
    }
}

