body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
hr {
  margin: 0;
}

div,
nav,
ul,
button,
a,
li {
  display: flex;
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
// Shades
$black: #000;
$white: #fff;
// Neutral
$neutral-50: #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748b;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1e293b;
$neutral-900: #0f172a;
// Primary
$primary-50: #e8edfb;
$primary-100: #bbcaf3;
$primary-200: #8ea7ec;
$primary-300: #6183e4;
$primary-400: #3460dc;
$primary-500: #1d4ed8;
$primary-600: #173ead;
$primary-700: #112f82;
$primary-800: #0c1f56;
$primary-900: #06102b;
// Red
$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;
// Yellow
$yellow-50: #fffbeb;
$yellow-100: #fef3c7;
$yellow-200: #fde68a;
$yellow-300: #fcd34d;
$yellow-400: #fbbf24;
$yellow-500: #f59e0b;
$yellow-600: #d97706;
$yellow-700: #b45309;
$yellow-800: #92400e;
$yellow-900: #78350f;
// Green
$green-50: #ecfdf5;
$green-100: #d1fae5;
$green-200: #a7f3d0;
$green-300: #6ee7b7;
$green-400: #34d399;
$green-500: #10b981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065f46;
$green-900: #064e3b;
// Breakpoints
$breakpointW-DesktopXL: 1439px;
$breakpointH-DesktopXL: 899px;
$breakpointW-Desktop: 1151px;
$breakpointH-Desktop: 599px;
$breakpointW-Tablet: 768px;
$breakpointH-Tablet: 1024px;
$breakpointW-Mobile: 400px;
$breakpointH-Mobile: 568px;

@media (min-width: $breakpointW-DesktopXL) or (min-height: $breakpointH-DesktopXL) {
  .navbar {
    height: 72px;
    padding: 0 32px;
  }
  .frame__side {
    min-width: 329px;
    max-width: 329px;
  }
  .frame__body {
    padding: 0 32px;
  }
  .frame__center {
    margin: 0 20px;
    height: calc(100vh - 72px);
    //width: calc(100vw - 658px);
  }
}
@media (max-width: $breakpointW-DesktopXL) or (max-height: $breakpointH-DesktopXL) {
  .navbar {
    height: 72px;
    padding: 0 32px;
  }
  .frame__side {
    min-width: 260px;
    max-width: 260px;
  }
  .frame__body {
    padding: 0 32px;
  }
  .frame__center {
    margin: 0 16px;
    height: calc(100vh - 72px);
    //width: calc(100vw - 520px);
  }
}
@media (max-width: $breakpointW-Desktop) or (max-height: $breakpointH-Desktop) {
  .navbar {
    height: 72px;
    padding: 0 16px;
  }
  .frame__side {
    min-width: 254px;
    max-width: 254px;
  }
  .frame__body {
    padding: 0 16px;
  }
  .frame__center {
    margin-left: 8px;
    margin-right: 0;
    height: calc(100vh - 72px);
    //width: calc(100vw - 254px);
  }
}
@media (max-width: $breakpointW-Tablet) or (max-height: $breakpointH-Desktop) {
  .navbar {
    height: 72px;
    padding: 0 16px;
  }
  .frame__body {
    padding: 0 16px;
  }
  .frame__center {
    margin: 0;
    height: calc(100vh - 72px);
    .addPost {
      display: none;
    }
  }
  .frame__side {
    display: none;
  }
}
@media (max-width: $breakpointW-Mobile) {
  .navbar {
    height: 72px;
    padding: 0 16px;
    div {
      ul {
        padding: 0;
      }
    }
  }
}

.frame {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  &__loading {
    height: calc(100vh - 72px);
    align-items: center;
    justify-content: center;
    > :first-child {
      align-items: center;
      margin-bottom: 72px;
    }
  }
  &__body {
    height: calc(100vh - 72px);
    box-sizing: border-box;
    width: 100%;
  }
  &__side,
  &__center {
    flex-direction: column;
  }
  &__side {
    > :first-child {
      margin-bottom: 20px;
    }
  }
  &__center {
    width: 100%;
    > *:not(:first-child) {
      margin-top: 20px !important;
    }
  }
  &__feed {
    overflow-y: scroll;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @media (max-width: $breakpointW-Tablet) or (max-height: $breakpointH-Desktop) {
      margin-top: 0 !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    height: 100%;
    > *:not(:last-child) {
      margin-bottom: 20px;
    }
    > :last-child {
      margin-bottom: 20px;
      width: 100%;
      justify-content: center;
      h6 {
        color: $primary-500;
      }
    }
  }
}
hr {
  height: 1px;
  background-color: $neutral-300;
  border: none;
}
body {
  background-color: $neutral-50;
  overflow-y: hidden;
}
// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Inter", sans-serif;
  color: $neutral-900;
}
h1 {
  font-size: 48px;
  line-height: 56px;
}
h2 {
  font-size: 39px;
  line-height: 47px;
}
h3 {
  font-size: 33px;
  line-height: 40px;
}
h4 {
  font-size: 28px;
  line-height: 34px;
}
h5 {
  font-size: 23px;
  line-height: 28px;
}
h6 {
  font-size: 19px;
  line-height: 23px;
}
p {
  &.subheading {
    font-size: 20px;
    line-height: 28px;
  }
  &.p1 {
    font-size: 14px;
    line-height: 17px;
  }
  &.p2 {
    font-size: 16px;
    line-height: 24px;
  }
  &.p3 {
    font-size: 18px;
    line-height: 22px;
  }
  &.caption {
    font-size: 12px;
    line-height: 18px;
  }
  &.footer {
    font-size: 10px;
    line-height: 14px;
  }
}
.semibold {
  font-weight: 600;
}
// Mixins
@mixin section {
  @media (min-width: $breakpointW-DesktopXL) or (min-height: $breakpointH-DesktopXL) {
    padding: 16px 20px;
  }
  @media (max-width: $breakpointW-DesktopXL) or (max-height: $breakpointH-DesktopXL) {
    padding: 16px 16px;
  }
  border: 2px solid $primary-100;
  border-radius: 10px;
  background-color: $white;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
@mixin svg-p($color) {
  svg {
    stroke: $color;
    stroke-width: 3px;
  }
  p {
    color: $color;
  }
}
@mixin button($type, $color, $child, $svgMargin) {
  @if $type == primary {
    @include svg-p($white);
    background-color: $color;
    border-color: $color;
    svg {
      stroke-width: 2px;
    }
  } @else {
    @include svg-p($color);
    background-color: $white;
    border-color: $color;
  }
  @if $child {
    > :first-child {
      margin-right: $svgMargin;
    }
  }
  svg {
    fill: $white;
  }
}
