@use "globals";

.profileSection {
    flex-direction: column;
    align-items: center;
    @include globals.section;
    &.loggedIn {
        border: 2px solid globals.$primary-100;
    }
    &.loggedOut {
        border: 2px solid globals.$primary-300;
        h4 {
            span {
                color: globals.$primary-500;
            }
        }
        h5 {
            text-align: center;
        }
        .auth {
            > :first-child {
                margin-right: 20px;
            }
        }
    }
    > *:not(:last-child) {
        margin-bottom: 16px;
    }
    .details {
        flex-direction: column;
        align-items: center;
        .info {
            flex-direction: column;
            margin: 8px 0px;
            h4 {
                color: globals.$neutral-700;
            }
            p {
                color: globals.$primary-300;
            }
        }
        p {
            text-align: center;
        }
    }
    .follow {
        width: 100%;
        justify-content: space-around;
        div {
            flex-direction: column;
            align-items: center;
            .p3 {
                color: globals.$neutral-700;
            }
            .p1 {
                color: globals.$neutral-400;
            }
        }
    }
    button {
        p {
            color: globals.$primary-500;
        }
    }
}
.onlineSection {
    @include globals.section;
    flex-direction: column;
    @media (min-width: globals.$breakpointW-DesktopXL) or (min-height: globals.$breakpointH-DesktopXL) {
        h6 {
            display: none;
        }
    }
    @media (max-width: globals.$breakpointW-DesktopXL) or (max-height: globals.$breakpointH-DesktopXL) {
        h6 {
            display: block;
        }
        h5 {
            display: none;
        }
    }
    ul {
        flex-direction: column;
        padding: 0;
        margin: 16px 0;
        li {
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            align-items: center;
            &:hover {
                background-color: globals.$neutral-100;
                cursor: pointer;
            }
            .left {
                align-items: center;
                .text {
                    margin-left: 8px;
                    flex-direction: column;
                    :last-child {
                        margin-top: 4px;
                        color: globals.$primary-300;
                    }
                }
            }
            .right {
                button {
                    border: none;
                    @include globals.svg-p(globals.$primary-500);
                    cursor: pointer;
                    background: transparent;
                }
            }
        }
    }
    .p2 {
        color: globals.$primary-500;
    }
}
.addPost {
    @include globals.section;
    border-color: globals.$primary-300;
    > *:not(:last-child) {
        margin-right: 24px;
    }
    align-items: center;
}
.tagsSection {
    @include globals.section;
    flex-direction: column;
    hr {
        height: 2px;
    }
    > *:not(:last-child) {
        margin-bottom: 16px;
    }
    .header {
        justify-content: space-between;
        svg {
            stroke: globals.$neutral-700;
        }
        @media (min-width: globals.$breakpointW-DesktopXL) or (min-height: globals.$breakpointH-DesktopXL) {
            h6 {
                display: none;
            }
        }
        @media (max-width: globals.$breakpointW-DesktopXL) or (max-height: globals.$breakpointH-DesktopXL) {
            h6 {
                display: block;
            }
            h5 {
                display: none;
            }
        }
    }
    .tags {
        flex-direction: column;
        > *:not(:last-child) {
            margin-bottom: 4px;
        }
        h6,
        .p1 {
            color: globals.$neutral-600;
        }
        .tag {
            flex-direction: column;
            .p1 {
                color: globals.$neutral-400;
            }
        }
    }
    .p2 {
        color: globals.$primary-500;
    }
}
