@use "globals";

.profile {
    box-sizing: border-box;
    flex-direction: column;
    .banner {
        width: 100%;
    }
    .profileFrame {
        margin-top: 8px;
        .profileInfo {
            width: 329px;
            @include globals.section;
            flex-direction: column;
            align-items: center;
            .profileDetails {
                align-items: center;
                flex-direction: column;
                text-align: center;
                .name {
                    flex-direction: column;
                    h4 {
                        color: globals.$neutral-700;
                    }
                    p {
                        color: globals.$primary-300
                    }
                    margin: 8px 0;
                }
            }
        }
        .profileFollowSection {
            width: 100%;
            justify-content: space-evenly;
            margin-top: 16px;
            .profileFollow {
                flex-direction: column;
                align-items: center;
                .p3 {
                    color: globals.$neutral-700;
                }
                .p1 {
                    color: globals.$neutral-400;
                }
            }
        }
        .profileActions {
            width: 100%;
            flex-direction: column;
            margin-left: 16px;
            .profileNavbar {
                height: 48px;
                align-items: center;
                padding: 0 16px;
                justify-content: space-between;
                margin-bottom: 8px;
                .profileNavbarItem {
                    align-items: center;
                    margin: 0 8px;
                    padding: 0;
                    svg {
                        stroke: globals.$primary-500;
                    }
                    .p2 {
                        margin-left: 6px;
                        color: globals.$primary-500;
                    }
                    &.selected {
                        border-bottom: 2px solid globals.$primary-500;
                    }
                }
                :last-child {
                    align-items: center;
                    .more {
                        svg { stroke: globals.$primary-500 }
                    }
                    >:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}